body {
  width: 400px;
  max-height: 400px;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}

img {
  max-width: 100%;
  margin: 0 auto;
  width: 30px;
}

input {
  outline: 0;
  padding: 15px;
  display: block;
  width: 80%;
  margin: 10px auto;
}

button {
  background-color: #cd1616;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 5px auto;
  padding: 7px 12px;

  &:focus {
    outline: 0;
  }
}

.results {
  text-align: left;
  // border: 1px solid #eee;
  padding: 10px;
  margin: 15px auto;
  max-height: 300px;
  overflow: scroll;

  .word-container {
    margin-bottom: 7px;
  }

  .definitions {
    h5 {
      margin-bottom: -10px;
    }
  }
}